BACKEND_URL=
DATABASE_URL=
FRONTEND_URL=
GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_REFRESH_TOKEN=
GMAIL_SENDER_EMAIL=
IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=
REDIS_URL=
SECRET_KEY=
STEAM_API_KEY=
XBOX_API_KEY=
XBOX_PUBLIC_KEY=
